
/* body used for site wide format */

body {
    background-color: black;
    font-family: "Arial", "Times New Roman","halvetica", cursive;
}

/* everything below here is related to the common header for the site */

#header {
    padding: 2em;
    color: white;
    background-color: black;
    text-align: center;
}
#wrapper
{
    margin: 100px;
    margin-top: 50px;
    padding: 0;
    height: 30px;
    background: black;
    text-align: center;
}

#navMenu {
    margin: 0;
    padding: 0;
    line-height: 30px;
    color: black;
    text-align: center;
}

#navMenu ul{
    margin:0;
    padding:0;
    text-align: center;
}

#navMenu li {
    list-style:none;
    padding:0;
    margin:0;
    float: left;
    position: relative;
    background: black;
}

#navMenu ul li a{
    text-align:center;
    text-decoration:none;
    height:30px;
    width: 150px;
    display:block;
    color: antiquewhite;
}

#navMenu ul ul {
    position: absolute;
    visibility:hidden;
    top:30px;
}

#navMenu ul li:hover ul{
    visibility: visible;
}

#navMenu li:hover {

    background: darkgray;
}

#navMenu ul li:hover > ul{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#navmenu a:hover {
    color: white;
}

/* .container used on first and second level pages to provide white box for content */

.container
{
    height: 350px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}


/* HOME PAGE SPECIFIC */

/* #mainbody centers the image for use on home page. Will eventually be slide show */

#mainbody
{
    color: black;
    text-align: center;
    background-color: black;
    Margin-bottom: 2em;
}

/* .breakoutbox used for the four boxes at the bottom of the home page */

.breakoutbox{
    display: inline-block;
    position: center;
    margin: 0.5%;
    float: left;
    width: 23%;
    height: 220px;
    background-color: lightgray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.5em;
    font-size: 0.5em;
}

/* INDIVIDUAL PROFILE PAGE USE */

/* .float-left is used to shape the text around the profile picture*/
.float-left {
    float: left;
    margin-left: 30px;
    margin-right: 20px;
}

/* h1 formatted for specific use on individual person pages*/

h1{
    margin-left: 30px;
}
/* .artist_body for use on individual profile pages */

.artist_body {
    color: white;
    text-align: left;
    background-color: black;
    Margin-bottom: 2em;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: thin white solid;
}


/* Common foot styling */

#footer
{
    margin-top: 2em;
    margin-left: 50px;
    height: 1em;
    text-align: left;
    background-color: black;
    color: white;
    font-size: 0.8em;
    margin-bottom: 20px;
}

a.footer:link {text-decoration: none}
a.footer:link {color:white}
a.footer:visited {color:white}
a.footer:hover {color:gray}



/* EVERYTHING BELOW HERE IS TEST STUFF AND WILL LIKELY BE DELETED IN FUTURE */

/*
a:link { color: darkslateblue; }
a:visited { color: gray; }
a:focus { color: gray; }
a:hover { color: white; }
a:active { color: red; }
/*
.float
{
    float: right;
    Clear: left;
    padding: 1em;
}

#mainbody
{
    font-size: 1.2em;
}

#announcements
{
    color: white;
    background: black
}



/*this part fails- no idea why though
#contactlist li
{
    text-decoration: none;
}


.nav ul
{
    margin: 0;
    padding: 0;
}

.nav li
{
    display: inline;
    margin-right: 1em;
}

.nav li a
{
    color: #fff;
}

.nav li > a
{
    text-decoration: none;
}

.links li > a
{
    text-decoration: none;
}

.centeredbody
{
    text-align: center;
}


h3 + h4 { margin-top: 2em; }




*/
/* old stuff
body
{
    margin: 0;
    padding: 0;
    font-family: arial; helvetica;
}

form
{
    border: 1px solid black;
    padding: 1em 2em;
    line-height: 2em
}



.nav
{
    padding: 1em 2em;
    background: dodgerblue;
}

.clearfloat{
    clear:both;
    margin:0;
    padding:0;
}

#main
{
    margin: 1em 2em;
}

#textbox {
    height: 200px;
    width: 200px;
    color: black;
    border: thin solid black;
}
*/
/*drop down menus*/

