body {
    background-color: black;
}

#mainbody
{
    color: black;
    text-align: center;
    background-color: black;
    Margin-bottom: 2em;
}

#header
{
    padding: 2em;
    color: white;
    background-color: black;
}
#wrapper
{

    height: 30px;
   background: black;
}

#navMenu {
    margin: 0;
    padding: 0;
    line-height: 30px;
    color: black;
}

#navMenu ul{
    margin:0;
    padding:0;
}

#navMenu li {
    list-style:none;
    padding:0;
    margin:0;
    float: left;
    position: relative;
    background: black;

}

#navMenu ul li a{
    text-align:center;
    font-family: "Arial", "Times New Roman","halvetica", cursive;
    text-decoration:none;
    height:30px;
    width: 150px;
    display:block;
    color: antiquewhite;


}

#navMenu ul ul {
    position: absolute;
    visibility:hidden;
    top:30px;
}

#navMenu ul li:hover ul{
    visibility: visible;
}

#navMenu li:hover {
    background: dodgerblue;

}



#navMenu ul li:hover > ul{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#navmenu a:hover {
    color: white;
}



.clearfloat{
    clear:both;
    margin:0;
    padding:0;
}

#main
{
    margin: 1em 2em;
}

#textbox {
    height: 200px;
    width: 200px;
    color: black;
    border: thin solid black;
}

.breakoutbox{
    display: inline-block;
    position: center;
    margin: 0.5%;
    float: left;
    width: 23%;
    height: 220px;
    background-color: lightgray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.5em;
    font-size: 0.5em;
}

.overtext {
   position: relative;
    widh: 100%;
}

h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    }

h2 span{
    color: white;
    letter-spacing:-1px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.7);
    padding: 10px;
}
h2 span .spacer {
    padding: 0.5px;
}

.container
{
    height: 350px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-bottom: 2em;
}

#footer
{
    margin-top: 2em;
    height: 1em;
    margin-left: auto;
    margin-right:auto;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;

}


/*
a:link { color: darkslateblue; }
a:visited { color: gray; }
a:focus { color: gray; }
a:hover { color: white; }
a:active { color: red; }
/*
.float
{
    float: right;
    Clear: left;
    padding: 1em;
}

#mainbody
{
    font-size: 1.2em;
}

#announcements
{
    color: white;
    background: black
}



/*this part fails- no idea why though
#contactlist li
{
    text-decoration: none;
}


.nav ul
{
    margin: 0;
    padding: 0;
}

.nav li
{
    display: inline;
    margin-right: 1em;
}

.nav li a
{
    color: #fff;
}

.nav li > a
{
    text-decoration: none;
}

.links li > a
{
    text-decoration: none;
}

.centeredbody
{
    text-align: center;
}


h3 + h4 { margin-top: 2em; }




*/
/* old stuff
body
{
    margin: 0;
    padding: 0;
    font-family: arial; helvetica;
}

form
{
    border: 1px solid black;
    padding: 1em 2em;
    line-height: 2em
}



.nav
{
    padding: 1em 2em;
    background: dodgerblue;
}
*/
/*drop down menus*/
